# Include this file inside your ``server {}`` block with an ``include``statement, for example
#
# server {
#     # ...other directives here like server_name, root etc.
#     include /var/www/vhosts/your-domain/Web/.nginx.conf
# }

# Disable .htaccess and other hidden files
location ~ /\. {
	access_log      off;
	log_not_found   off;
	deny            all;
}

location = /favicon.ico {
	log_not_found off;
	access_log off;
}

location = /robots.txt {
	allow all;
	log_not_found off;
	access_log off;
}

location ~ "^/_Resources/Persistent/" {
	access_log off;
	log_not_found off;
	expires max;

	rewrite "(.{40})/.+\.(.+)" /_Resources/Persistent/$1.$2 break;
	rewrite "([a-z0-9]+/(.+/)?[a-f0-9]{40})/.+\.(.+)" /_Resources/Persistent/$1.$2 break;
}

location ~ "^/_Resources/" {
	access_log off;
	log_not_found off;
	expires max;
	break;
}

location / {
	rewrite ".*" /index.php last;
}

# stop rewriting by existing files | is instead of -> location / { rewrite ".*" /index.php last; }
# use this if you want to run other PHP-Applications in TYPO3-Flow/Web directory
try_files $uri $uri/ /index.php?$args;

# pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
#
location ~ \.php$ {
	include        /etc/nginx/fastcgi_params;
	try_files      $uri =404;
	fastcgi_pass   app:9000;
	fastcgi_index  index.php;
	fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
	fastcgi_param   PATH_INFO         $fastcgi_path_info;
	fastcgi_param   FLOW_CONTEXT      Development;
	fastcgi_param   FLOW_REWRITEURLS  1;
	fastcgi_split_path_info ^(.+\.php)(.*)$;
	fastcgi_read_timeout         300;
	fastcgi_buffer_size          128k;
	fastcgi_buffers              256 16k;
	fastcgi_busy_buffers_size    256k;
	fastcgi_temp_file_write_size 256k;
}
